<h1>
    Une nouvelle création a été postée sur ShareCréa
</h1>
<p>
La création "{{ title }}" est disponible au lien suivant
    <a href="http://app.sharecrea.iut-lepuy.fr/#!/creation/{{ slug }}">
        http://app.sharecrea.iut-lepuy.fr/#!/creation/{{ slug }}
    </a>
</p>

<p>
    Projet scolaire de partage de création multimédia réalisé par Dylan Temboucti :)
</p>

